/* Ajoutez vos styles spécifiques pour le formulaire participant */
.participant-login-form {
    background-color: #e6f7ff;
    border: 1px solid #99c2ff;
    padding: 20px;
  }
  
  .participant-button {
    background-color: #3399ff;
    color: #fff;
  }
  
  /* Ajoutez vos styles spécifiques pour le formulaire instructeur */
  .instructeur-login-form {
    background-color: #ffe6e6;
    border: 1px solid #ff9999;
    padding: 20px;
  }
  
  .instructeur-button {
    background-color: #ff6666;
    color: #fff;
  }
  