/* modal.css */

/* Style du fond gris qui recouvre le reste de la page */
.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Style de la fenêtre modale elle-même */
  .ReactModal__Content {
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    outline: none; /* Supprimer la bordure par défaut du focus */
  }
  
  /* Style du titre du modal */
  .ReactModal__Content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Style du formulaire dans le modal */
  .ReactModal__Content form {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Style des labels dans le formulaire */
  .ReactModal__Content label {
    flex: 1;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Style des champs de saisie dans le formulaire */
  .ReactModal__Content input {
    width: 100%;
    padding: 10px; /* Ajuster la taille des inputs */
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px; /* Ajouter une bordure arrondie */
  }
  
  /* Style du bouton d'enregistrement et d'annulation */
  .ReactModal__Content button {
    width: 100%; /* Remplir la largeur disponible */
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Ajouter une bordure arrondie */
    font-size: 16px; /* Ajuster la taille de la police */
  }
  
  /* Style du bouton d'enregistrement */
  .ReactModal__Content button.btn-save {
    background-color: #01a9ac;
    color: #fff;
  }
  
  /* Style du bouton d'annulation */
  .ReactModal__Content button.btn-cancel {
    background-color: #ccc;
    color: #fff;
  }
  
  /* Hover state pour le bouton d'enregistrement */
  .ReactModal__Content button:hover {
    background-color: #01dbdf;
  }
  