/* profilp.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.profile-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 50px auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.sidebar {
    margin-right: 50px;
    flex: 1;
    padding: 20px;
    background-color: #01a9ac;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.social-media a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.social-media i {
    margin-right: 10px;
}

.main-content {
    flex: 2;
    padding: 20px;
}

.user-info {
    text-align: center;
}

.user-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.user-info h4 {
    margin: 10px 0;
    color: #333;
}

.user-info p {
    color: #666;
}

.student-info {
    margin-top: 30px;
}

.student-info h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
}

.student-info form {
    display: flex;
    flex-wrap: wrap;
}

.student-info label {
    flex: 1;
    margin-bottom: 10px;
}

.student-info input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}


/* Style du bouton d'enregistrement */
.btnm{
    background-color: #01a9ac;
    color: #fff;
    padding: 12px 20px; /* Ajuster la taille du bouton */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Ajouter une bordure arrondie */
    font-size: 16px; /* Ajuster la taille de la police */
  }
  
  /* Style du bouton d'annulation */
  .btnm{
    margin-left: 10px;
    background-color: #080303;
    color: #fff;
    height: px;
    width: 200px ;
    padding: 5px 20px; /* Ajuster la taille du bouton */
    border: black ;
    cursor: pointer;
    border-radius: 8px; /* Ajouter une bordure arrondie */
    font-size: 16px; /* Ajuster la taille de la police */
    transition: background-color 0.3s;

  }
  
  /* Hover state pour le bouton d'enregistrement */
  .btnm button:hover {
    background-color: #01dbdf;
  }